*.mp3
*.wav
*.flac
songs
bad_words.txt
lyrics.txt
pretrained_models
separated_audio
separated
__pycache__/module_context.cpython-310.pyc
test.py
__pycache__/async_toolset.cpython-310.pyc
__pycache__/toolset.cpython-310.pyc
slurs.txt
