*.mp3
*.wav
*.flac
*.mp3.json
*.wav.json
songs
bad_words.txt
lyrics.txt
pretrained_models
separated_audio
separated
__pycache__/module_context.cpython-310.pyc
test.py
__pycache__/async_toolset.cpython-310.pyc
__pycache__/toolset.cpython-310.pyc
slurs.txt
test1.py
transcription.json
__pycache__/genai.cpython-310.pyc
