*.mp3
*.wav
*.flac
*.mp3.json
*.wav.json
songs
bad_words.txt
lyrics.txt
pretrained_models
separated_audio
separated
__pycache__/module_context.cpython-310.pyc
test.py
__pycache__/async_toolset.cpython-310.pyc
__pycache__/toolset.cpython-310.pyc
slurs.txt
test1.py
transcription.json
__pycache__/genai.cpython-310.pyc
fast_whisper_try.py
__pycache__/async_toolset.cpython-312.pyc
genai.py
__pycache__/module_context.cpython-312.pyc
TODO.md
*_bad_slurs.json
.gradio/certificate.pem
async_toolset_new_get_bad_word_and_slurs.txt
__pycache__/async_toolset.cpython-314.pyc
async_toolset_new_get_bad_word.txt
trancribe.py
__pycache__/async_censormy.cpython-314.pyc
__pycache__/gradio_app.cpython-314.pyc
